<div>
  <h1>Recipe App</h1>
  <div class="main-menu">
    <div class="menu-item">
      <%= link_to "Food Items", user_foods_path(user_id:1) %>
    </div>
    <div class="menu-item">
      <%= link_to "Recipes", user_recipes_path(user_id:1) %>
    </div>
  </div>
</div>

